<mat-toolbar color="primary">
  <button mat-icon-button class="logo">
    <mat-icon>dashboard</mat-icon> New Millennium
  </button>

  <span class="spacer"></span>

  <button  mat-icon-button routerLink="orders" routerLinkActive="active-link">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button routerLink="menus" routerLinkActive="active-link">
    <mat-icon>restaurant_menu</mat-icon>
  </button>
  <button mat-icon-button routerLink="settings" routerLinkActive="active-link">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>